@page
@model Pollster_v4.Pages.PollsModel

@{
    ViewData["Title"] = "Polls";
}

<h2>Polls</h2>

<h4>Answers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model.Questions)
        {
            <form method="post">
                <input type="hidden" asp-for="Answers.Id" />
                <input type="hidden" asp-for="Answers.QuestionId" value="@item.Id" />
                <div class="form-group">
                    <label asp-for="Answers.UserName" class="control-label">@(item.Question + " by " + item.UsersName) </label>
                    <input type="radio" name="@item.Id" asp-for="Answers.OptionNumber" class="form-control" value="1" />@item.Option1 <br />
                    <input type="radio" name="@item.Id" asp-for="Answers.OptionNumber" class="form-control" value="2" />@item.Option2 <br />
                    <input type="radio" name="@item.Id" asp-for="Answers.OptionNumber" class="form-control" value="3" />@item.Option3 <br />
                    <input type="radio" name="@item.Id" asp-for="Answers.OptionNumber" class="form-control" value="4" />@item.Option4 <br />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
